* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url('../Assets/Test_Playscreen_background.png');
    background-position: center top;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.slots{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-left: 20px;
    height: 755px;
    width: 960px;
    margin-top: 135px;
    overflow: hidden;
}

.reel{
    margin-top: -250px;
    height: 1000px;
    width: 300px;
    position: relative;
    top: 0;
}

.ui {
    position: relative;
    display: flex;
    top: 80px;
}

.credits {
    position: relative;
    text-align: center; /* Center the text horizontally */
    display: flex;
    flex-direction: column;
    align-items: center;
}
.credits img {
    position: relative;
    z-index: 1; /* Ensure the image is on top of the text */
}
.credits p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 75px;
    position: absolute;
    top: 57%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    z-index: 2;
    margin: 0;
}

.minus_plus {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 500px;
    top: 70px;
}

.img-test {
    position: absolute;
    top: 0px;
}

.transition-effect {
    transition: top 0.2s ease-in;
}

.transform-start {
    transform: translateY(250px);
}
